[submodule "reveal.js"]
	path = scalax14/reveal.js
	url = https://github.com/hakimel/reveal.js
[submodule "scalax14/reveal.js"]
	path = scalax14/reveal.js
	url = https://github.com/hakimel/reveal.js
[submodule "scalax14/MathJax"]
	path = scalax14/MathJax
	url = https://github.com/mathjax/MathJax.git
